/* Container for the smaller sections */
main .widget
{
    display: flex;
    position: absolute;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 50%;
    gap: 0.2%;
    /* background-color: red; */
    justify-content: center;
    place-items: center;
}

/* The glance section, leftmost side of the widget */
#glance
{
    background-color: #D9D9D9;
    position: relative;
    width: 20%;
    height: 70%;
    margin-left: 2%;
    border-radius: 4% 0 0 4%;
}

/* The player section, the middle of the widget */
#player
{
    background-color: #D9D9D9;
    position: relative;
    width: 40%;
    height: 80%;
    border-radius: 4%;
    overflow: hidden;
}

    /* The media section where album art will be displayed */
    #media
    {
        width: 100%;
        height: 88%;
        position: relative;
        top: 0;
        background-color: aqua;
    }

    /* The bottom pane where the playback controls will be displayed */
    #bottomPane
    {
        width: 100%;
        height: 12%;
    }

        /* The control panel for the player */
        #controlPanel
        {
            display: flex;
            gap: 2%;
            justify-content: space-between;
            align-items: center;
            margin-top: -2.5px;
        }
            
            /* Control to expand the playlist */
            #playlistToggle
            {
                background-color: black;
                width: 20px;
                height: 20px;
                margin-right: 2%;
                overflow: hidden;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                border-radius: 15%;
            }

                button[id = "playlistToggleButton"]
                {
                    top: -12px;
                    position: relative;
                    width: 30px;
                    height: 30px;
                    left: -2px;
                    overflow: hidden;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                }

            /* Container for the playback controls */
            #playback
            {
                display: flex;
                width: 15%;
                align-items: center;
                gap: 10%;
            }

                /* Container for the volume controls */
                .volumeControl
                {
                    display: flex;
                    background-color: blue;
                    height: 20px;
                    width: 20px;
                    border-radius: 90%;
                    overflow: hidden;
                    justify-content: center;
                    align-items: center;
                }

                    /* Control for mute / unmute */
                    .muteSound
                    {
                        display: flex;
                        background-color: blue;
                        height: 35px;
                        width: 35px;
                        border-radius: 90%;
                        overflow: hidden;
                        justify-content: center;
                        align-items: center;
                    }

                    /* Button to decrease the volume  */
                    #volumeDown
                    {
                        height: 100%;
                        width: 20px;
                        border: none;
                        color: black;
                        background-color: rgb(255, 255, 255);
                        overflow: hidden;
                        align-items: center;
                        justify-content: left;
                    }

    /* The playlist queue display */
    #playlistQueue
    {
        position: relative;
        background-color: rgb(243, 1, 1);
        width: 100%;
        height: 100%;
    }

        /* Icon for playlist */
        #playlistHideIcon
        {
            width: 15px;
            margin-left: -5px;
            position: relative;
        }

/* The lyrics section, rightmost side of the widget */
#lyrics
{
    background-color: #D9D9D9;
    position: relative;
    width: 20%;
    height: 70%;
    margin-right: 2%;
    border-radius: 0 4% 4% 0;
}



.widgetTitle
{
    position: absolute;
    z-index: 99;
}



#volumeDownIcon
{
    display: block;
}

#volumeDown img
{
    width: 15px;
    margin-left: -5px;
}

input[id = "muteSound"]
{
    display: none;
}

label[id = "muteSoundLabel"]
{
    width: 100%;
    height: 100%;
    background-color: white;

}

#muteSoundIcon
{
    display: block;
    width: 20px;
    margin-left: 20%;
    margin-top: 20%;
}

#volumeUp
{
    height: 100%;
    width: 20px;
    border: none;
    color: black;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    align-items: center;
    justify-content: left;
}

#volumeUpIcon
{
    display: block;
    width: 15px;
    margin-left: -5px;
}
