.sectionTitle
{
    display: none;
}

div[id = "MainWidget"]
{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    width: 92vw;
    /* background-color: bisque; */
    margin-left: 3.5vw;
    height: 51vh;
    overflow: hidden;
    grid-gap: 0.25vw;
}

/* Styles for glance section */
section[id = "glance"]
{
    position: relative;
    display: flex;
    width: 20vw;
    height: 40vh;
    background-color: aqua;
    align-self: center;
    border-radius: 10% 0 0 10%;
    overflow-y: scroll;
}
    /* Style for the djBio, mainly for image changing */
    div[id = "djBio"]
    {
        background-image: url("../assets/images/placeholderImages/placeholder3.jpg");
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* display: none; */
    }

        /* Indicator for whether dj is live or not */
        span[id  ="liveStatus"]
        {
            position: relative;
            z-index: 2;
            background-color: aliceblue;
            width: 20%;
            height: 2vh;
            display: flex;
            justify-content: center;
            align-items: center;
            justify-self: center;
            align-self: center;
            margin-top: 0.05vh;
            text-transform: uppercase;
            font-style: italic;
            font-weight: 500;
        }
        /* This is the container for the dj bio */
        span[id = "djBioContent"]
        {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            margin-top: 27vh;
            height: 30%;
            background-color: aliceblue;
        }

            span[id = "liveDJname"]
            {
                text-transform: uppercase;
                font-size: 1.25vw;
                font-weight: 600;
                font-size: 35px;
            }

            span .DJsocials
            {
                display: flex;
                justify-content: center;
                width: 10%;
                gap: 0.75vw;
                margin-top: 0.25vh;
            }

            span[id = "djBio"]
            {
                text-align: center;
                line-height: 1.75vh;
                margin-top: 1.05vh;
                font-size: 12px;
            }

    div[id = "weatherInfo"]
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        line-height: 2vh;
        margin-top: 10%;
        background-image: url("../assets/images/placeholderImages/placeholder5.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        
    }
        /* Styles for day weather container */
        span[id = "dayWeather"]
        {
            width: 100%;
            height: 35%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 0.75vw;
        }

            span[id = "temperatureContainer"]
            {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 52%;
                margin-left: 0.25vw;
                line-height: 2.75vh;
                background-color: aliceblue;
                border-radius: 15%;
            }

                span[id = "temperatureUnit"]
                {
                    font-size: 0.75vw;
                    font-weight: 600;
                    text-align: center;
                }

                span[id = "temperature"]
                {
                    font-size: 2.25vw;
                    font-weight: 600;
                    text-align: center;
                    margin-left: 0.25vw;
                }

            span[id = "weatherSummary"]
            {
                width: 15.75vw;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 1.25vw;
                line-height: 0.05vh;
            }

                span[id = "weatherSummary"] p
                {
                    text-align: center;
                    font-size: 15px;
                    line-height: 1.55vh;
                    font-size: 12px;
                } 

                span[id = "weatherSummary"] i
                {
                    font-size: 1.0vw;
                }

        span[id = "currentDateTimeContainer"]
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 30%;
        }

        span[id = "weekWeatherContainer"]
        {
            display: flex;
            width: 100%;
            height: 35%;
        }

            span[id = "weekWeatherContainer"] ul
            {
                display: flex;
                list-style: none;
                position: relative;
                margin-top: 6.75vh;
                width: 100%;
                gap: 0.35vw;
                padding-right: 16px;

            }

                span[id = "weekWeatherContainer"] ul li
                {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    height: 30%;
                    line-height: 2.75vh;
                    text-transform: uppercase;
                }
/* Styles for player section */
section[id = "player"]
{
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 50vh;
    background-color: beige;
    overflow: hidden;
    border-radius: 3%;
}
    /* media styling */
    div[id = "media"]
    {
        display: flex;
        width: 100%;
        height: 90%;
        background-image: url("../assets/images/placeholderImages/placeholder1.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        justify-content: center;
    }

        span[id = "songInfo"]
        {
            display: flex;
            flex-direction: column;
            background-color: rgba(240, 248, 255, 0.431);
            width: 30%;
            height: 15%;
            justify-content: center;
            align-items: center;
            border-radius: 0 0 25% 25%;
            backdrop-filter: blur(5px);
            box-shadow: 5px 5px 0.5 rgb(123, 123, 123);
        }

            span[id = "songTitle"]
            {
                display: flex;
                text-transform: capitalize;
            }
    /* Styles for bottom pane */
    div[id="bottomPane"]
    {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 10%;
        background-color: rgb(196, 241, 255);
        justify-content: center;
        align-items: center;
    }

        /* Style for control panel */
        div[id = "controlPanel"]
        {
            display: flex;
            width: 95%;
            height: 100%;
            align-items: center;
            justify-content: space-between;
            align-items: center;
            z-index: 2;
        }

            /* Style for button containers */
            div .buttonContainer
            {
                background-color: rgb(255, 140, 0);
                width: 2.2vw;
                height: 2.2vw;
                border-radius: 25%;
                overflow: hidden;
                position: relative;
            }

            div .buttonContainer-small
            {
                background-color: rgb(255, 140, 0);
                width: 1.75vw;
                height: 1.75vw;
                border-radius: 25%;
                overflow: hidden;
                position: relative;
                margin-top: 0.25vw;
            }

            div .buttonContainer-wide
            {
                background-color: rgb(255, 140, 0);
                width: 4.5vw;
                height: 1.75vw;
                border-radius: 15%;
                overflow: hidden;
            }
                /* Style for buttons */
                button[id = "shareSession"],
                button[id = "playlistToggle"],
                button[id = "volumeDown"],
                button[id = "volumeUp"],
                button[id = "mute"]
                {
                    height: 100%;
                    width: 100%;
                    border: none;
                    cursor: pointer;
                }

                /* Style for icons */
                img[id = "shareIcon"],
                img[id = "volumeDownIcon"],
                img[id = "songQueueIcon"],
                img[id = "volumeUpIcon"],
                img[id = "muteIcon"]
                {
                    width: 100%;
                    transition: all 0.35s ease-in-out;
                    position: relative;
                    z-index: 1;
                }

                img[id = "shareIcon-active"],
                img[id = "songQueueIcon-active"]
                {
                    width: 100%;
                    position: relative;
                    z-index: 2;
                    display: none;
                }

                input[id = "playlistToggleCheckbox"],
                input[id = "mutedCheckbox"]
                {
                    display: none;
                }

                /* Animation for button and icons */

            /* Container for playback controls */
            div[id  ="playbackControls"]
            {
                display: flex;
                width: 30%;
                justify-content: center;
                gap: 0.25vw;
            }

            div[id = "songQueue"]
            {
                /* display: none; */
                z-index: 1;
                margin-top: -6.25%;
                /* background-color: rgb(99, 99, 99); */
                width: 100%;
                height: 100%;
                justify-content: center;
                display: flex;
                align-items: center;
            }

            /* Styles for playlist table */
            table[id = "playlist"]
            {
                display: none;
                text-align: left;
            }

                /* Styles for table cells */
                table[id = "playlist"] td
                {
                    text-transform: uppercase;
                }
/* Styles for lyrics section */
section[id = "lyrics"]
{
    display: flex;
    width: 20vw;
    height: 40vh;
    background-color: rgb(196, 241, 255);
    align-self: center;
    border-radius: 0 10% 10% 0;
    overflow: hidden;
}

    /* Styles for lyrics paragraph */
    span[id = "songLyrics"]
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: blueviolet;
    }

        /* Styles for song lines */
        span .songLines
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0.5vh;
            width: 100%;
            height: 100%;
            background-color: rgb(149, 149, 149);
        }


section[id = "mainDashboard"]
{
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 50vh;
    background-color: beige;
    overflow: hidden;
    border-radius: 3%;
}

section[id = "chatScreen"]
{
    display: flex;
    width: 20vw;
    height: 40vh;
    background-color: rgb(196, 241, 255);
    align-self: center;
    border-radius: 0 10% 10% 0;
    overflow: hidden;
}