@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*
{
    font-family: 'Roboto Mono', monospace;
}

html
{
    scroll-behavior: smooth;
}

body
{
    /* background-color: rgba(0, 8, 51, 1); */
    background: linear-gradient(45deg, rgba(0, 8, 51, 1) 0%, rgba(45, 122, 164, 0.889) 100%);
    background-repeat: no-repeat;
}

main
{
    display: flex;
    flex-direction: column;
    gap: 3.5vh;
}

button
{
    cursor: pointer;
}