.timeline
{
    width: 80%;
    /* background-color: red; */
    height: 32%;
    margin-top: 30%;
    margin-left: 10%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    overflow-x: scroll;
    color: black;
}

.event
{
    background-color: aliceblue;
    width: 16.75%;
    height: 70%;
    border-radius: 15%;
    color: black;
    overflow: hidden;
}

.nextEvent
{
    width: 25%;
    height: 90%;
    background-color: aliceblue;
    border-radius: 15%;
    color: black;
    overflow: hidden;
}

.event
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.event .eventDetails
{
    background-color: black;
    width: 20px;
    height: 20px;
    justify-self: center;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 46%;
    margin-top: -2px;
}

.event .eventHeader
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: 25px;
    margin-top: 8px;
}

.event .eventHeader #djName
{
    color: black;
    text-transform: uppercase;
    font-size: 24px;
    width: 100%;
}

.event .eventHeader #programContent
{
    color: black;
    text-transform: uppercase;
    font-size: 11px;
}

.event .eventFooter
{
    display: flex;
    flex-direction: column;
    line-height: 15px;
    justify-content: center;
    text-align: center;
    padding-top: 45%;
}

.event .eventFooter .top
{
    color: black;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    font-size: 11px;
}

.event .eventFooter #producerName
{
    color: black;
    text-transform: uppercase;
    font-size: 11px;
}