<span id="footerBrand">
    <span id="footerBrandName">
        Cosmic Harmony
    </span>
</span>
<span id="userProfile">
    <span id="profilePhoto">
        <img src="../../assets/images/placeholderImages/djPlaceholder4.jpg" alt="">
    </span>
    <span class="userInfo">
        <span id="userName">
            User Name
        </span>
        <span id="userLocation">
            <span>State</span>, <span>Country</span>
        </span>
    </span>
</span>