<span id="<%= genreID %>" class="genreCard">
    <span class="genreTitle"><%= genreName %></span>
    <span class="genreDescription"><%= genreDescription %></span>
    <span class="thirdPartyFeatured">
        <span><i class="fa-brands fa-spotify"></i></span>
        <span><i class="fa-brands fa-deezer"></i></span>
        <span><i class="fa-brands fa-apple"></i></span>
    </span>
    <img src="<%= genreImage %>" alt="genre background">
    <span class="managementButtons">
        <button onclick="scrollToCollection(this)">Browse</button>
    </span>
</span>