<div id = "heroContainer">
    <img src="<%= heroImage || '/assets/images/placeholderImages/placeholder3.jpg'%>" alt="hero image">
    <h1><%= heroHeader || 'Welcome to Cosmic Harmony'%></h1>
    <span><%= heroCaption || 'The best way to listen to music'%></span>
</div>