<div id = "heroContainer">
    <img src="<%= heroImage || '/assets/images/placeholderImages/placeholder3.jpg'%>" alt="hero image">
    <h1><%= heroHeader || 'Welcome to Cosmic Harmony'%></h1>
    <span><%= heroCaption || 'The best way to listen to music'%></span>
    <div id = "heroButtons">
        <span class="heroButtonContainer">
            <button>create playlist</button>
            <p>create playlist</p>
        </span>
        <span class="heroButtonContainer" style="margin-left: 8vw;">
            <button>create event</button>
            <p>create event</p>
        </span>
        <span class="heroButtonContainer" style="margin-left: 16vw;">
            <button>switch user</button>
            <p>switch user</p>
        </span>
        <span class="heroButtonContainer" style="margin-left: 24vw;">
            <button>view playlists</button>
            <p>view playlists</p>
        </span>
        <span class="heroButtonContainer" style="margin-left: 32vw;">
            <button>view events</button>
            <p>view events</p>
        </span>
    </div>
</div>