<nav>
    <!-- Left Navigation -->
    <ul id = "leftNav"> 
       <li>
           <a href="/">home</a>
       </li>
       <li>
           <a href="/library">Library</a>
       </li>
       <li>
           <a href="/schedule">Schedule</a>
       </li>
   </ul>
   <!-- Centered logo -->
    <span id="navLogo">
       <a href="/">
          <img src="../../assets/graphics/svg/grayLogo.svg" alt="cosmic harmony logo" id = "logo">
       </a>
    </span>
    <!-- Right Navigation -->
    <ul id="rightNav">
       <li>
           <a href="/djpool">DJ Pool</a>
       </li>
       <li>
           <a href="/stats">Stats</a>
       </li>
       <li>
           <a href="/about">About</a>
       </li>
   </ul>
 </nav>