<div id="searchWfilters">
    <!-- Search Bar -->
    <div id = "SearchBox">
        <input type="text" id = "searchEntry" placeholder="Search...">
        <span id = "SearchButtonBox">
            <button id = "searchButton" onclick="validateSearch()">
                <!-- search icons -->
                <img src="../../assets/icons/black/enter.svg" alt="search icon" id = "searchIcon">
                <img src="../../assets/icons/black/enter-active.svg" alt="search icon active" id = "searchIconActive">
            </button>
        </span>
        <span id="invalidAlert">Please enter a search term</span>
    </div>
    <div id="searchFilters">
        <span id="allFilter" class = "activeFilter">
            All
        </span>
        <span id="songsFilter">
            Songs
        </span>
        <span id="djFilter">
            DJs
        </span>
        <span id="producerFilter">
            Producers
        </span>
    </div>
</div>