/* Cards for dj pool */
div[id = "djPoolContainer"]
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 1.25vh;
    place-items: center;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    margin-bottom: 2vh;
}

    div[id = "djPoolContainer"] .djCard
    {
        display: flex;
        flex-direction: column;
        width: 20vw;
        height: 17vh;
        background-color: rgba(1, 69, 132, 0.673);
        overflow: hidden;
    }
    
        div[id = "djPoolContainer"] .djCard .djBasics
        {
            display: flex;
            flex-direction: row;
            margin-left: 0.15vw;
        }

            div[id = "djPoolContainer"] .djCard .djBasics .djProfilePhoto
            {
                width: 3vw;
                height: 3vw;
                overflow: hidden;
                object-fit: cover;
                margin-top: 1.25vh;
            }

            div[id = "djPoolContainer"] .djCard .djBasics .djProfilePhoto img
            {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }

            div[id = "djPoolContainer"] .djCard .djBasics .managementButtons
            {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

                div[id = "djPoolContainer"] .djCard .djBasics .managementButtons button
                {
                    font-size: 10px;
                    text-transform: uppercase;
                    overflow: hidden;
                    text-wrap: none;
                    text-align: center;
                }

            div[id = "djPoolContainer"] .djCard .djBasics .djInfo
            {
                text-transform: uppercase;
                margin-left: 0.15vw;
            }

                div[id = "djPoolContainer"] .djCard .djBasics .djInfo .djName
                {
                    font-size: 2vw;
                    width: 13vw;
                }

                div[id = "djPoolContainer"] .djCard .djBasics .djInfo .djLocation
                {
                    font-size: 0.5vw;
                    margin-top: -0.75vh;
                    display: flex;
                    align-items: center;
                }

                    div[id = "djPoolContainer"] .djCard .djBasics .djInfo .djLocation progress
                    {
                        width: 4vw;
                        height: 1.5vh;
                        margin-top: 0.25vh;
                        margin-left: 2.5vw;
                        position: relative;
                        border-radius: 12%;
                        color: white;
                    }
        div[id = "djPoolContainer"] .djStatus
        {
            text-transform: uppercase;
            justify-content: center;
            display: flex;
            
        }

            div[id = "djPoolContainer"] .djStatus span
            {
                background-color: black;
            }

        div[id = "djPoolContainer"] .djCard .djInfo
        {
            display: flex;
            flex-direction: column;
        }

        div[id = "djPoolContainer"] .djCard .aboutDJ
        {
            font-size: 12px;
            margin-left: 0.2vw;
        }

        div[id = "djPoolContainer"] .djCard .eventNote
        {
            text-align: right;
            margin-right: 0.2vw;
        }

        div[id = "djPoolContainer"] .djCard .djSocials
        {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 0.25vw;
        }
/* Genre cards */
span[id = "genreCardsContainer"]
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    place-items: center;
    width: 100%;
}

    span[id = "genreCardsContainer"] .genreCard
    {
        display: flex;
        flex-direction: column;
        width: 15vw;
        height: 10vw;
        overflow: hidden;
        color: white;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        object-fit: cover;
        background-color: rgba(1, 69, 132, 0.673);
    }

        span[id = "genreCardsContainer"] .genreCard .genreTitle
        {
            display: flex;
            z-index: 10;
            color: white;
            position: absolute;
            text-transform: uppercase;
            font-weight: 700;
            margin-top: -9vh;
            font-size: 1.75vw;
        }

        span[id = "genreCardsContainer"] .genreCard .genreDescription
        {
            display: flex;
            z-index: 10;
            color: white;
            position: absolute;
            width: 14vw;
            height: 4.95vh;
            overflow: hidden;
            margin-top: 6vh;
            font-size: 0.5vw;
            text-align: center;
            text-justify: distribute;
        }
        
        span[id = "genreCardsContainer"] .genreCard .managementButtons
        {
            display: flex;
            margin-top: 15vh;
            position: absolute;
        }
        span[id = "genreCardsContainer"] .genreCard .thirdPartyFeatured
        {
            display: flex;
            z-index: 10;
            color: white;
            position: absolute;
            gap: 0.25vw;
            margin-top: -3.75vh;
        }

        span[id = "genreCardsContainer"] .genreCard img
        {
            object-fit: cover;
            z-index: 0;
            position: relative;
            display: flex;
            width: 100%;
            height: 55%;
            margin-top: -9vh;
        }
/* Song cards */
span[id = "songsByGenre"]
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 2vh;
}

    span[id = "songsByGenre"] .genreContainer
    {
        display: grid;
        place-items: center;
        grid-template-columns: repeat(5, 1fr);
        width: 100%;
        row-gap: 0.75vh;
        /* display: none; */
    }

        span[id = "songsByGenre"] .genreContainer .songCard
        {
            width: 17vw;
            height: 3.5vw;
            overflow: hidden;
            background-color: rgba(0, 93, 181, 0.673);
            display: flex;
            flex-direction: row;
            outline: solid 1px rgba(1, 69, 132, 0.673);
            border-radius: 20px 0px 0px 0px;
        }

            span[id = "songsByGenre"] .genreContainer .songCard .songArt
            {
                width: 3.25vw;
                height: 3.5vw;
                object-fit: cover;
                overflow: hidden;
            }

                span[id = "songsByGenre"] .genreContainer .songCard .songArt img
                {
                    width: 3.25vw;
                    height: 3.5vw;
                    object-fit: cover;
                }
            
            span[id = "songsByGenre"] .genreContainer .songCard .songInfo
            {
                display: flex;
                flex-direction: column;
                color: white;
                text-transform: uppercase;
                margin-left: 0.1vw;
            }

                span[id = "songsByGenre"] .genreContainer .songCard .songInfo .songTitle
                {
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 0.75vw;
                    width: 13.8vw;
                    background-color: orange;
                }

                span[id = "songsByGenre"] .genreContainer .songCard .songInfo .songArtist
                {
                    font-size: 0.45vw;
                }

                span[id = "songsByGenre"] .genreContainer .songCard .songInfo .songDuration
                {
                    font-size: 0.35vw;
                }

            span[id = "songsByGenre"] .genreContainer .songCard .songButtons
            {
                margin-top: 2.45vw;
                margin-left: 12.75vw;
                display: flex;
                flex-direction: row;
                gap: 0.15vw;
                position: absolute;
                z-index: 10;
            }

/* Cards for profiles on about page */
/* Cards for events */
/* Cards for search results */