div[id = "metricsContainer"]
{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
    margin-top: 1%;
    justify-content: center;
    align-items: center;
}

    div[id = "metrics"]
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

        span[id = "currentListeners"],
        span[id = "programReactions"]
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            background-color: aliceblue;
            height: 8vw;
            width: 10vw;
            border-radius: 15%;
        }

            span[id = "currentListenerCount"],
            span[id = "programReactionCount"]
            {
                font-size: 80px;
                font-weight: 600;
                width: 100%;
                text-align: center;
            }

        span[id = "totalListeners"]
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            background-color: rgba(88, 102, 114, 0.401);
            backdrop-filter: blur(10px);
            height: 12vw;
            width: 15vw;
            border-radius: 15%;
            color: white;
        }

            span[id = "totalListenerCount"]
            {
                font-size: 120px;
                font-weight: 700;
                width: 100%;
                text-align: center;
            }
        
        span[id = "detailedMetrics"]
        {
            text-transform: uppercase;
            background-color: aliceblue;
            width: 10vw;
            border-radius: 15%;
            text-align: center;
            margin-top: 1vh;
        }

            span[id = "detailedMetrics"] a
            {
                font-size: 15px;
                line-height: 1.55vh;
                text-decoration: none;
                color: black;
            }
/* 
    * Playlist table for producer 
*/
    div[id = "producerPlaylist"]
    {
        display: flex;
        flex-direction: column;
        height: 40%;
        margin-top: 3%;
    }

        span[id = "playlistHeader"]
        {
            display: flex;
            text-transform: uppercase;
            gap: 3%;
            justify-content: end;
            margin-right: 1.5vw;
        }

            span[id = "playlistHeader"] span
            {
                background-color: none;
                color: white;
                text-align: right;
            }

            span[id = "playlistTable"]
            {
                height: 80%;
                overflow: scroll;
                width: 100%;
            }

                span[id = "playlistTable"] table
                {
                    width: 100%;
                    color: white;
                }

                    span[id = "playlistTable"] thead tr
                    {
                        text-align: left;
                        text-transform: uppercase; 
                    }

                    span[id = "playlistTable"] tbody tr td
                    {
                        border-bottom: 1.5px solid white;
                    }

                    span[id = "playlistTable"] tbody tr:nth-child(odd)
                    {
                        color: rgb(184, 184, 184);
                    }

                    td[class = "playlistItemControl"] > button[class = "stopPreview"]
                    {
                        display: none;
                    }
            span[id = "playlistButtons"]
            {
                display: flex;
                width: 100%;
                justify-content: center;
                gap: 3%;
                position: relative;
                top: 1.5vh;
            }

                span[id = "playlistButtons"] button
                {
                    background-color: aliceblue;
                    border-radius: 15%;
                    text-transform: uppercase;
                }

div[id = "djGlance"]
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../../../assets/images/placeholderImages/placeholder6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

    span[id = "djStatus"]
    {
        text-align: center;
        text-transform: uppercase;
        background-color: aliceblue;
        width: 30%;
    }

    span[id = "highlightDJ"]
    {
        display: flex;
        top: -15vh;
    }

    span[id = "djInfo"]
    {
        display: flex;
        flex-direction: column;
        margin-top: 12.5vh;
        margin-left: 5.5vw;
    }

        span[id = "djName"]
        {
            font-size: 40px;
            font-weight: 700;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.8);
        }

        span[id = "glanceDJgenre"]
        {
            font-size: 20px;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.8);
        }

        span[id = "highlightDJsocials"]
        {
            display: flex;
            color: white;
            gap: 0.75vw;
            padding-top: 0.75vh;
        }

        span[id = "currentDJphoto"]
        {
            width: 2.75vw;
            height: 2.75vw;
            position: relative;
            top: 7.3vw;
            left: 4.25vw;
        }

            span[id = "currentDJphoto"] img
            {
                display: block;
                width: 3.75vw;
                height: 3.75vw;
                object-fit: cover;
                border-radius: 25%;
            }

    span[id = "sessionInfo"]
    {
        display: flex;
        flex-direction: column;
        margin-top: 8vh;
    }

        span[id = "leadProducer"],
        span[id = assistantProducer]
        {
            text-align: left;
            margin-left: -10vh;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.8);
        }

        span[id = "sessionTime"]
        {
            text-align: center;
            margin-top: 3vh;
            color: rgba(255, 255, 255, 0.8);
        }

div[id = "messages"]
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85%;
    width: 98%;
    margin-left: 1%;
    overflow-y: scroll;
    overflow-x: wrap;
    gap: 1.75vh;
}

    div[id = "recipientInfoContainer"]
    {
        display: flex;
        gap: 0.5vw;
        justify-content: left;
        align-items: center;
        margin-top: 0vh;
        margin-left: -0.15vw;
        color: white;
        background: rgba(133, 133, 133, 0.717);
        z-index: 100;
        width: 100%;
        position: fixed;
        backdrop-filter: blur(5px);
        transition: all 0.3s ease-in-out;
    }

    div[id = "recipientInfoContainer"]:hover
    {
        backdrop-filter: none;
        background: rgb(73, 73, 73);
    }

        span[id = "recipientPhoto"]
        {
            width: 5vh;
            height: 5vh;
            border-radius: 50%;
            overflow: hidden;
            object-fit: cover;
            background-image: url("../../../assets/images/placeholderImages/placeholder1.jpg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        span[id = "recipientInfo"]
        {
            display: flex;
            flex-direction: column;
            text-transform: uppercase;
        }

    div[id = "messages"]
    {
        display: flex;
        flex-direction: column;
        gap: 0.75vh;
    }

        div[id = "messages"] .outgoingMessage
        {
            display: flex;
            flex-direction: column;
            width: 85%;
            margin-left: 15%;
            background-color: rgb(96, 97, 98);
            color: rgb(255, 255, 255);
            border-radius: 5%;
        }

            div[id = "messages"] .outgoingMessage .timeStamp
            {
                text-align: right;
                color: rgb(208, 208, 208);
                font-weight: 300;
                font-size: 12px;
            }

            div[id = "messages"] .incomingMessage
            {
                display: flex;
                flex-direction: column;
                width: 85%;
                margin-left: 0%;
                background-color: rgb(44, 44, 44);
                color: rgb(255, 255, 255);
                border-radius: 5%;
            }
    
                div[id = "messages"] .incomingMessage .timeStamp
                {
                    text-align: left;
                    color: rgb(208, 208, 208);
                    font-weight: 300;
                    font-size: 12px;
                }

    div[id = "newMessage"]
    {
        display: flex;
        margin-top: 1vh;
        width: 98%;
        margin-left: 1%;
    }

        div[id = "newMessage"] input
        {
            width: 85%;
        }

        div[id = "newMessage"] button
        {
            width: 8%;
            margin-left: 2.5%;
        }