footer
{
    display: flex;
    width: 100vw;
    height: 3.75vw;
    margin-left: -5px;
    background-color: rgba(105, 105, 105, 0.84);
    backdrop-filter: blur(10vw);
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
    text-transform: uppercase;
    color: white;
    z-index: 1000;
    position: relative;
}

    span[id = "footerBrand"]
    {
        margin-left: 1vw;
    }
    span[id = "userProfile"]
    {
        display: flex;
    }
        span[id = "profilePhoto"]
        {
            width: 3.25vw;
            height: 3.25vw;
            object-fit: cover;
            overflow: hidden;
            border-radius: 15% 0 15% 0;
        }

            span[id = "profilePhoto"] img
            {
                width: 3.0vw;
                height: 3.0vw;
                object-fit: cover;
                border-radius: 15% 0 15% 0;
            }

        span[class = "userInfo"]
        {
            display: flex;
            flex-direction: column;
            text-transform: uppercase;
            margin-right: 1vw;
            align-self: center;
        }