span[id = "playlistViewOverlay"]
{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    z-index: 1000;
    background-color: aliceblue;
    margin-left: 15%;
    margin-top: -2%;
    color: white;
}

    span[id = "playlistViewOverlay"] .closeOverlay
    {
        width: 2vw;
        height: 2vw;
        align-self: center;
    }

    span[id = "playlistViewOverlay"] .playlistOverlayCard
    {
        display: flex;
        align-self: center;
        width: 95%;
        height: 20vw;
        background-color: black;
    }

        span[id = "playlistViewOverlay"] .playlistOverlayCard .playlist
        {
            width: 70%;
            display: flex;
            flex-direction: column;
            background-color: red;
        }

        span[id = "playlistViewOverlay"] .playlistOverlayCard .playlist .playlistDescription
        {
            display: flex;
            height: 15%;
            background-color: aqua;
        }

    span[id = "playlistViewOverlay"] .playlistOverlayCard .playlistInfo
    {
        display:flex;
        flex-direction: column;
        /* background-color: aquamarine; */
        background-image: url("../assets/images/backgrounds/backg3.jpg");
        background-size: cover;
        height: 100%;
        width: 30%;
        color: white;
    }

        span[id = "playlistViewOverlay"] .playlistOverlayCard .playlistInfo .playlistDetails
        {
            display: flex;
            flex-direction: column;
            align-self: center;
            justify-self: center;
            align-items: center;
            margin-top : 35%;
        }

    span[id = "playlistViewOverlay"] .playlistOverlayCard .playlist .playlistSongs
    {
        display: flex;
        flex-direction: column;
    }

        span[id = "playlistViewOverlay"] .playlistOverlayCard .playlist .playlistSongs .overlaySongCard
        {
            display: flex;
        }

            span[id = "playlistViewOverlay"] .playlistOverlayCard .playlist .playlistSongs .overlaySongCard .songInformation
            {
                display: flex;
                flex-direction: column;
            }