.Metadata {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

.timeline {
    padding-bottom: 0%;
}

.Footer {
    display: flex;
    justify-content: space-between;
}

.FooterProfile {
    display: flex;
    align-items: center;
}
th,td {
	color:rgb(0, 8, 51);
}
main {
    margin-bottom: 785px;
}

input {
    color:black;
    text-align: left;
}

button {
	color:black;
}

p {
    color: rgb(114, 147, 160);
    text-align: center;
    margin: 0;
    font-family: Tahoma, sans-serif;
}

h2 {
    color: rgb(0, 8, 51);;
    text-align: center;
    margin: 0;
    font-family: Tahoma, sans-serif;
}

.widgetTitle {
    display:inline;
    text-align: center;
}

#upcoming_schedule {
    overflow-y:auto;
    height: 270px;
    width: 270px;
    background-color: rgb(114, 147, 160);
    border-radius: 15px;
}

#availableSlots {
    background-color: aqua;
    color:rgb(0, 8, 51);
    font-family: Tahoma,sans-serif;
    display:center;

}

#available_slots {
    width: 575px;
    height: 320px;
    overflow: auto;
    background-color: aqua;
    color:rgb(0, 8, 51);
    border-radius: 15px;
}

#chat {
    font:black;
    background-color: rgb(114, 147, 160);
    overflow-y:auto;
    height: 270px;
    width: 270px;
    border-radius: 15px;
}

#chatbox {
	color:rgb(255, 251, 252);
	overflow-y:auto;
	height: 270px;
    width: 270px;
}

.ImageMetadata {
    width:50%;
}

#upNextImage {
    height: 20%;
    width:20%;
}

.event{
    font-size:small;
    
}

p.event {
    margin:0px;
}

.upNextHeader {
    display:grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

