.Metadata {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

.timeline {
    padding-bottom: 7%;
}

.widgetTitle {
    display:inline;
    text-align: center;
}

#SearchButton {
    color:black;
}

input {
    color:black;
    text-align: left;
}

.SongMetadataRight {
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0;
    font-family: Tahoma, sans-serif;
}

#volumeDown:hover {
    background-color:grey;
}

#volumeUp:hover {
    background-color:grey;
}

.muteSound:hover {
    background-color:grey;
    
}

.PlayerTitleMetadata {
    margin-top:auto;
    margin-bottom:0%;
}

.SongHeader {
    color: blue;
    text-align: center;
    margin: 0;
    font-size:large;
    font-style: italic;
    font-family: Tahoma, sans-serif;
}

.ImageMetadata {
    width:50%;
}

#Glance1:hover {
    background-color: white;
}

#Glance2:hover {
    background-color: white;
}

#Glance3:hover {
    background-color: white;
}

p {
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0;
    font-family: Tahoma, sans-serif;
}

h2 {
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0;
    font-family: Tahoma, sans-serif;
}

.GlanceBox {
    overflow-y:auto;
    max-height: 270px;
}

.AlbumArt {
    width:25%;
    display:center;
    orientation:landscape;
}

#PlayerTitle {
    background-color: aqua;
    font-family: Tahoma,sans-serif;
    display:center;
}

#player {
    display:grid;
    align-items: center; 
    grid-template-rows: 1fr 3fr 1fr;
    column-gap: 10px;
    background-color: aqua;
}

#lyrics {
    font:black;

}

.lyricStanza {
    overflow-y:auto;
    max-height: 270px;
    
}

p.lyricStanza {
    font-family: Tahoma, sans-serif;
    font-size:smaller;
}

#lyrics {
    background-color: #7293A0;
}

#glance {
    background-color: #7293A0;
}

#upNextImage {
    height:20%;
    width:20%;
}

.event{
    font-size:small;
    
}

p.event {
    margin:0px;
}

.upNextHeader {
    display:grid;
    align-items: center; 
    grid-template-columns: 1fr 3fr;
    column-gap: 10px;
}

.upNextHeader div {
    color:black;
}
#muteSoundIcon{
    width:125%;
}

#likeButton:hover {
    background-color:red;
}

.upNextMetadataAll {
    display:grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1f;
    column-gap: 0px;
}