p {
    color:white;
}

h2 {
    color:white;
}

.Genre {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
}

.Playlist {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
}

.DJ {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
}

.Language {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
}
.itemImg {
    width:20%;
}

.itemImg:hover {
    -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
    filter: grayscale(50%);
}

#UpdateButton {
    background-color: skyblue;
}

#UpdateButton h2 {
    color:black;
}

#UpdateButton:hover {
    background-color: grey;
}