div[id = "metricsContainer"]
{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
    margin-top: 1%;
    justify-content: center;
    align-items: center;
}

    div[id = "metrics"]
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

        span[id = "currentListeners"],
        span[id = "programReactions"]
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            background-color: aliceblue;
            height: 8vw;
            width: 10vw;
            border-radius: 15%;
        }

            span[id = "currentListenerCount"],
            span[id = "programReactionCount"]
            {
                font-size: 80px;
                font-weight: 600;
                width: 100%;
                text-align: center;
            }

        span[id = "totalListeners"]
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            background-color: aliceblue;
            height: 12vw;
            width: 15vw;
            border-radius: 15%;
        }

            span[id = "totalListenerCount"]
            {
                font-size: 120px;
                font-weight: 700;
                width: 100%;
                text-align: center;
            }
        
        span[id = "detailedMetrics"]
        {
            text-transform: uppercase;
            background-color: aliceblue;
            width: 10vw;
            border-radius: 15%;
            text-align: center;
            margin-top: 1vh;
        }

            span[id = "detailedMetrics"] a
            {
                font-size: 15px;
                line-height: 1.55vh;
                text-decoration: none;
                color: black;
            }

    div[id = "producerPlaylist"]
    {
        display: flex;
        flex-direction: column;
        height: 40%;
        margin-top: 3%;
        background-color: aliceblue;
    }

        span[id = "playlistHeader"]
        {
            display: flex;
            text-transform: uppercase;
            gap: 3%;
        }

            span[id = "playlistHeader"] span
            {
                background-color: aliceblue;
            }

            span[id = "playlistTable"]
            {
                height: 80%;
                overflow: scroll;
                width: 100%;
            }

                span[id = "playlistTable"] table
                {
                    width: 100%;
                }

                    span[id = "playlistTable"] thead tr
                    {
                        text-align: left;
                    }